body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.word {
    opacity: 0;
    font-size: 8em;
    font-family: 'Playfair Display', Times, serif;
    text-align: center;
    animation: 2s ease 0s forwards 1 fadeIn;
}
.description {
    opacity: 0;
    text-align: center;
    padding-top: 1em;
    animation: 1s ease-out 1.4s forwards 1 fadeIn;
    font-family: Helvetica;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}
